STORK_API_KEY=
NEXT_PUBLIC_MOCK_USDC_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_MARKET_REGISTRY_ADDRESS=
NEXT_PUBLIC_STORK_ADAPTER_ADDRESS=
NEXT_PUBLIC_PERP_ENGINE_ADDRESS=
NEXT_PUBLIC_CONFIDENTIAL_INTENT_REGISTRY_ADDRESS=
